@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Work test") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    <div class="ui container">
        <div class="ui vertically divided grid">
            <div class="two column row">
                <div class="column">
                    <h1>Welcome</h1>
                </div>
                <div class="column">
                    <p>#jul</p>
                </div>
            </div>
            <div class="three column row">
                <div class="column">
                    <p>adc</p>
                </div>
                <div class="column">
                    <p>zac</p>
                </div>
                <div class="column">
                    <p>vaerv</p>
                </div>
            </div>
        </div>
    </div>

}
