    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@

    @*
    * Menu bar
    *@
    <!--suppress JSAnnotator -->
    <div id="container" class="media-player">
        <script src='bower_components/react/react.js'></script>
        <script src='bower_components/react/react-dom.js'></script>
        <script src='bower_components/react-player/dist/ReactPlayer.js'></script>
        <script>
            ReactDOM.render(
                <ReactPlayer url='https://www.youtube.com/watch?v=d46Azg3Pm4c' playing />,
                document.getElementById('container')
            )
        </script>
    </div>